<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <style>
        div {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div>
    <img th:src="@{/favicon.ico}"/>
    <h1>Cheer ! Auspicious</h1>
    <h6>人生苦短，做点有意义的事吧！</h6>
</div>
</body>
</html>
